.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/*nav*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #8987A1;
    font-size: 14px;
    padding-right: 10px;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 7px;;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    background-color: #eac21a;
    color:#000000;
}
.Title-text{
    color: #4E47FF;
}
.banner{
    background-image: url("Assets/Hero-bg.png");
}
.h1-container1{
    font-size: 65px;
    color: #252432;
    margin: auto;
    padding: 309px 0px 37px 0px;
}
.h1-container2{
    font-size: 42px;
}
.h1-container3{
    font-size: 38px;
    color: #252432;
}
.h1-container4{
    font-size: 80px;
    line-height: 0.8;
    color: #4E47FF;
}
.h1-container5{
    font-size: 42px;
    color: #252432;
}
.h1-container6{
    font-size: 50px;
}
.h1-container7{
    font-size: 97px;
}
.h1-container8{
    font-size: 100px;
    color: #4e47ff;
}
.banner{
    margin: auto;
    text-align: center;
}

.paragraph-container1{
    font-size: 24px;
}
.paragraph-container2{
    font-size: 20px;
    color: #000000;
}
.paragraph-container3{
    font-size: 16px;
    color: #757575;
}
.label-container{
    font-size: 18px;
    padding-top: 19px;
    padding-bottom: 10px;
}
.action{
    padding: 116px 159px 0px 141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-radius{
    border-radius: 48px;
}
.Productive-Users{
    margin: auto;
    text-align: center;
    padding:389.3px;

}
.Review{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.Feedback-Section{
    margin: auto;
    text-align: center;
    padding: 10px;
    align-items: center;
    

}
.Feedback-Card{
    text-align: left;
    padding-left: 151px;
    padding-top: 99px;
    padding-right: 151px;
}
.Feedback-Container{
    display: flex;
    align-items: center;
}
.Rating{
    display: flex;
}
.profile{
    display: flex;
    align-items: center;
}
.Info{
    line-height: 0;
}
.img-profile-container{
    padding-right: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.Image-container{
    border-radius: 48px;
    padding: 20px;
}
.Additional-Section{
    padding: 208px;
    text-align: center;
    align-items: center;
}
.Get-In-Touch-Section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input , textarea{
    font-size: 20px;
    border: 1px solid #d6dded;
    border-radius: 6px;
    min-width: 500px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
}

.Left-Side2{
    padding-left: 150px;
}
.Right-Side2{
    padding-right: 150px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.footer{
    text-align: center;
}